* {
  border: none;
}

.App {
  text-align: center;
  background-color: rgb(76, 76, 76);
}


.assignments-body {
  background-color: rgb(76, 76, 76);
  font-family: computer7;
  color: rgb(0, 145, 185);
}
.welcome-text{
  background-color: rgb(76, 76, 76);
  color: rgb(143, 214, 0);
  font-size: 100px;
  letter-spacing: 20px;
  font-family: computer7;
}

.assignment-text{
  color: rgb(222, 201, 0);
  font-size: 40px;
  text-decoration: underline;
  font-family: computer7;
}

.welcome-body{
  background-color: rgb(76, 76, 76);
  color: white;
}

.create-assignment-text{
  font-size: 15px;
}

button{
  font-size: 30px;
}

label{
  font-family: computer7;
  color: rgb(222, 201, 0);
}

.form-body{
  background-color: rgb(76, 76, 76);
  
}

h1{
  font-family: computer7;
  color: rgb(222, 201, 0);
}

h2{
  font-family: computer7;
  text-decoration: underline;
  color: rgb(222, 201, 0);
}